<div class="categories-header">
  <p>Kategorie</p>
</div>
<div class="categories-wrapper">
  <div class="category-row">
    <div
      [ngClass]="{ selected: isSelected(categories.design) }"
      (click)="setFilter(categories.design)"
      class="category"
      [routerLink]="['/list']"
    >
      <span
        class="material-icons md-36"
        [matTooltip]="categories.design"
        matTooltipClass="category-tooltip"
      >
        design_services
      </span>
    </div>
    <div
      [ngClass]="{ selected: isSelected(categories.rwd) }"
      (click)="setFilter(categories.rwd)"
      class="category"
      [routerLink]="['/list']"
    >
      <span
        class="material-icons md-36"
        [matTooltip]="categories.rwd"
        matTooltipClass="category-tooltip"
      >
        devices
      </span>
    </div>
  </div>
  <div class="category-row">
    <div
      [ngClass]="{ selected: isSelected(categories.code) }"
      (click)="setFilter(categories.code)"
      class="category"
      [routerLink]="['/list']"
    >
      <span
        class="material-icons md-36"
        [matTooltip]="categories.code"
        matTooltipClass="category-tooltip"
      >
        code
      </span>
    </div>
    <div
      [ngClass]="{ selected: isSelected(categories.seo) }"
      (click)="setFilter(categories.seo)"
      class="category"
      [routerLink]="['/list']"
    >
      <span
        class="material-icons md-36"
        [matTooltip]="categories.seo"
        matTooltipClass="category-tooltip"
      >
        manage_search
      </span>
    </div>
  </div>
  <div class="category-row">
    <div
      [ngClass]="{ selected: isSelected(categories.accesibility) }"
      (click)="setFilter(categories.accesibility)"
      class="category"
      [routerLink]="['/list']"
    >
      <span
        class="material-icons md-36"
        [matTooltip]="categories.accesibility"
        matTooltipClass="category-tooltip"
      >
        wheelchair_pickup
      </span>
    </div>
    <div
      [ngClass]="{ selected: isSelected(categories.performance) }"
      (click)="setFilter(categories.performance)"
      class="category"
      [routerLink]="['/list']"
    >
      <span
        class="material-icons md-36"
        [matTooltip]="categories.performance"
        matTooltipClass="category-tooltip"
      >
        speed
      </span>
    </div>
  </div>
</div>
