<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" [(opened)]="sideNavOpened">
    <app-sidenav [sidenav]="sidenav"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header [sidenav]="sidenav" class="header"></app-header>
    <div class="container">
      <app-filter-list class="filterlist"></app-filter-list>
      <div class="main-wrapper">
        <app-main></app-main>
        <app-rightbar class="rightbar"></app-rightbar>
      </div>
    </div>
    <app-footer></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
