.container {
  max-width: 1024px;
  margin: 15px auto;
  min-height: 100vh;
}
.side-wrapper p {
  background-color: #223f4c;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding: 5px 10px;
}
.main-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
  margin: 15px auto;
}

.rightbar {
  display: none;
}

.filterlist {
  display: none;
}

mat-sidenav {
  width: 200px;
}

@media screen and (min-width: 800px) {
  .rightbar {
    display: block;
  }

  .filterlist {
    display: block;
  }
}
