<div [formGroup]="node" class="category-node-wrapper">
  <label>
    <input
      value="advantage"
      type="radio"
      name="answer_type"
      formControlName="answer_type"
    />
    <span
      [ngClass]="{ active: node.value.answer_type == 'advantage' }"
      class="material-icons thumb thumb-up"
    >
      thumb_up
    </span>
  </label>
  <label>
    <input
      value="disadvantage"
      type="radio"
      name="answer_type"
      formControlName="answer_type"
    />
    <span
      [ngClass]="{ active: node.value.answer_type == 'disadvantage' }"
      class="material-icons thumb thumb-down"
    >
      thumb_down
    </span>
  </label>

  <div class="node-input-wrapper">
    <mat-form-field appearance="legacy" style="width: 100%">
      <mat-label>Opis</mat-label>
      <textarea
        required
        formControlName="description"
        matInput
        cdkTextareaAutosize
        cdkAutosizeMinRows="1"
        cdkAutosizeMaxRows="5"
      ></textarea>
    </mat-form-field>
    <app-error-message
      [control]="node.controls['description']"
    ></app-error-message>
  </div>
</div>
