.category-node-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.thumb {
  margin-right: 5px;
  cursor: pointer;
}
.thumb-up.active,
.thumb-up:hover {
  color: green;
}
.thumb-down.active,
.thumb-down:hover {
  color: red;
}

[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + span {
  cursor: pointer;
}
.node-input-wrapper {
  flex-grow: 1;
}
