@import url("https://fonts.googleapis.com/css2?family=Kalam&display=swap");
.container {
  display: flex;
}
.leftbar {
  display: none;
  width: 100%;
  background-image: url("../../../../assets/auth-background.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}
.rightbar {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
}
.header {
  display: flex;
  justify-content: center;
}
.logo-img {
  display: block;
  max-width: 90%;

  /* max-width:400px; */
  /* max-height:70px; */
  width: auto;
  height: auto;
}
.header-span {
  font-weight: 400;
  color: #1b313a;
}
.form {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 800px) {
  .leftbar {
    display: flex;
  }
}
