.user-rank-header {
  display: flex;
  padding: 0 10px;
  height: 3em;
  background-color: #f1ba35;
  margin-bottom: 4px;
}
.user-rank-header p {
  align-self: center;
  color: white;
  font-size: 19px;
}
.user-rank-wrapper {
  background-color: rgba(233, 196, 106, 0.1);
}
.rank {
  min-width: 40px;
}
.username {
  flex: 1;
}
.user {
  padding: 5px;
  display: flex;
  color: rgb(77, 77, 77);
  justify-content: space-between;
  border-bottom: 1px solid #f1b93536;
  font-size: 14px;
}
