.new-answer-form-wrapper {
  width: 100%;
  padding: 20px;
}
.new-answer-wrapper {
  padding: 5px 0;
  display: flex;
  justify-content: flex-end;
}
.add-category-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 15px;
}
.category-list-wrapper {
  margin-bottom: 30px;
}

.category-name-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.category-node {
  display: flex;
  align-items: center;
}
app-category-node {
  flex-grow: 1;
}
.new-answer-header {
  margin-top: 2px;
  background: #264653;
  padding: 15px;
  color: white;

  font-weight: 700;
}

@media screen and (min-width: 700px) {
  .add-category-wrapper {
    flex-direction: row;
  }
}
