<div class="new-answer-header">Twoja recenzja:</div>
<div class="new-answer-form-wrapper">
  <form [formGroup]="newAnswerForm">
    <p>
      <mat-form-field appearance="legacy" style="width: 100%">
        <mat-label>Ogólny opis</mat-label>
        <input formControlName="description" matInput required />
      </mat-form-field>
      <app-error-message
        [control]="newAnswerForm.controls['description']"
      ></app-error-message>
    </p>
    <div class="category-list-wrapper">
      <div
        formArrayName="reviewed_categories"
        *ngFor="
          let item of newAnswerForm.get('reviewed_categories')['controls'];
          let i = index
        "
        class="category-wrapper"
      >
        <div [formGroupName]="i">
          <div class="category-name-wrapper">
            <p>
              Kategoria:
              {{ item.value.category.name }}
            </p>
            <button
              (click)="removeCategory(i, item.value.category.id)"
              mat-icon-button
              color="warn"
              aria-label="Remove category"
            >
              <span class="material-icons md-24"> remove </span>
            </button>
          </div>
          <p>
            <mat-form-field appearance="legacy" style="width: 100%">
              <mat-label>Ocena</mat-label>
              <input formControlName="rank" type="number" matInput required />
            </mat-form-field>
            <app-error-message
              [control]="item.controls['rank']"
            ></app-error-message>
          </p>
          <div>
            <div formArrayName="category_nodes" class="category-nodes-wrapper">
              <div
                class="category-node"
                *ngFor="
                  let node of item.controls.category_nodes.controls;
                  let j = index
                "
                [formGroupName]="j"
              >
                <app-category-node [node]="node"></app-category-node>
                <button
                  (click)="removeCategoryNode(i, j)"
                  mat-icon-button
                  color="warn"
                  aria-label="Remove category"
                >
                  <span class="material-icons md-24"> remove </span>
                </button>
              </div>
            </div>
            <!-- category nodes wrapper -->
            <button (click)="addCategoryNode(i)" mat-button color="primary">
              <span class="material-icons"> add </span>
              Dodaj wpis do kategorii
            </button>
          </div>
        </div>
        <!-- category wrapper -->
      </div>
    </div>
    <!-- category list wrapper -->
    <div *ngIf="available_categories.length" class="add-category-wrapper">
      <mat-form-field appearance="legacy" style="width: 70%">
        <mat-label>Kategorie wymagające recenzji</mat-label>
        <mat-select
          #category_select
          [value]="available_categories[0].id"
          required
        >
          <ng-container *ngFor="let category of available_categories">
            <mat-option [value]="category.id">
              {{ category.name }}
            </mat-option>
          </ng-container>
        </mat-select>
      </mat-form-field>
      <button
        class="add-category-button"
        (click)="addCategory(category_select.value)"
        mat-raised-button
        color="accent"
      >
        <span class="material-icons"> add </span>
        Dodaj kategorię
      </button>
    </div>
    <!-- category add wrapper -->
    <div class="new-answer-wrapper">
      <button (click)="addAnswer()" mat-raised-button color="warn">
        <span class="material-icons"> add </span>
        Dodaj recenzję
      </button>
    </div>
  </form>
</div>
