<div class="answer-wrapper">
  <div class="author-info">
    <app-answer-user
      (changeAnswerStatus)="changeAnswerStatus($event)"
      [user]="answer.author"
      [isTopAnswer]="answer.is_top_answer"
      [postAuthor]="post.author"
    ></app-answer-user>
  </div>
  <div class="answer-details">
    <div class="answer-description">
      {{ answer.description }}
    </div>
    <app-category-review
      *ngFor="let category of answer.reviewed_categories"
      [category]="category"
    ></app-category-review>
  </div>
  <div *ngIf="isOwnAnswer()" (click)="removeAnswer()" class="remove-answer-button">
    <span class="material-icons md-24"> remove </span>
  </div>
</div>
