<div class="answer-header">
  <h4>{{category.category.name}}</h4>
  <div class="rank-wrapper">
    <div class="stars">
      <img src="assets/yellow-star.png" alt="" srcset="">
      <img src="assets/yellow-star.png" alt="" srcset="">
      <img src="assets/yellow-star.png" alt="" srcset="">
      <img src="assets/yellow-star.png" alt="" srcset="">
      <img src="assets/yellow-star.png" alt="" srcset="">
    </div>
    <div class="rank">Ocena: {{category.rank}}</div>
  </div>
</div>
<div class="review-advantages">
  <div *ngFor="let node of category.category_nodes" class="adv-wrapper">
    <div *ngIf="node.answer_type=='advantage'" class="adv-icon">
      <img src="assets/check_green.png" alt="" srcset="">
    </div>
    <div class="adv-content">{{node.description}}</div>
  </div>
</div>
<div class="review-disadvantages">
  <div *ngFor="let node of category.category_nodes" class="adv-wrapper">
    <div *ngIf="node.answer_type=='disadvantage'" class="adv-icon">
      <img src="assets/x_red.png" alt="" srcset="">
    </div>
    <div class="adv-content">{{node.description}}</div>
  </div>
</div>

