.answer-header {
  margin-top: 25px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 16px;
  padding: 3px;
}
.answer-header h4 {
  font-size: 16px;
  color: #e76f51;
  font-weight: 700;
}
.rank-wrapper {
  display: flex;
  margin-bottom: auto;
  align-items: center;
  font-weight: 300;
  font-size: 14px;
}
.rank {
  margin-left: 6px;
  margin-top: 2px;
}
.adv-icon {
  margin-right: 3px;
}
.adv-icon img {
  width: 20px;
  height: 18px;
}
.review-advantages,
.review-disadvantages {
  margin-left: 3px;
  margin-bottom: 12px;
}
.adv-wrapper {
  display: flex;
  margin-bottom: 5px;
}
.thumb {
  margin-right: 10px;
  margin-top: -4px;
}
.thumb-up {
  color: green;
}
.thumb-down {
  color: red;
}
.node-description-wrapper {
  display: flex;
  margin-bottom: 5px;
}
.star-rating {
  display: none;
}

@media screen and (min-width: 340px) {
  .star-rating {
    display: block;
  }
}
