<div class="user-wrapper">
  <div class="user-avatar">
    {{ user.username[0] | uppercase }}
  </div>
  <div class="username">{{ user.username }}</div>
  <div class="user-reputation">({{ user.reputation }})</div>
  <div (click)="unsetTopAnswer()" *ngIf="isTopAnswer" class="top-answer" [ngClass]="{'own-post-answer': isOwnPost}">
    <span class="material-icons top-answer-icon" > done </span>
    <span class="top-answer-label" >Najlepsza Recenzja</span>
  </div>
  <div
    (click)="markAnswerAsTop()"
    *ngIf="!isTopAnswer && isOwnPost"
    class="top-answer author"
  >
    <span class="material-icons top-answer-icon disabled author"> done </span>
    <span class="top-answer-label disabled author"
      >Wybierz jako najlepszą odpowiedź</span
    >
  </div>
</div>
