<div class="post-wrapper">
  <div class="post-leftbar">
    <div class="rank-wrapper">
      <div class="stars">
        <img src="assets/yellow-star.png" alt="" srcset="">
        <img src="assets/yellow-star.png" alt="" srcset="">
        <img src="assets/yellow-star.png" alt="" srcset="">
        <img src="assets/yellow-star.png" alt="" srcset="">
        <img src="assets/yellow-star.png" alt="" srcset="">
      </div>
      <div class="rank-info">
        Ocena 5.0
      </div>
    </div>
    <div class="answers-views-wrapper">
      <div class="views">
        <div class="av-number">4</div>
        <div class="av-info">wizyty</div>
      </div>
      <div class="answers">
        <div class="av-number">12</div>
        <div class="av-info">odpowiedzi</div>
      </div>
    </div>
  </div>
  <div class="post-details">
    <div class="post-title">Tytuł</div>
    <div class="project-links-wrapper">
      <div class="page-link">Link do strony: <a class="project-link" href="#">www.example-project.pl</a></div>
      <div class="repo-link">Link do repozytorium: <a class="project-link" href="#">www.gihub.com/user/exampleProject</a></div>
    </div>
    <div class="post-last-activity">
      <span class="activity-type">Odpowiedź </span>udzielona
      <span class="activity-time">10 minut </span>temu przez
      <span class="activity-user">J@n_K0walsk!</span>
    </div>
    <div class="post-tags">
      <div class="post-tag">SEO</div>
      <div class="post-tag">RWD</div>
      <div class="post-tag">JAKOŚĆ KODU</div>
      <div class="post-tag">DESIGN</div>
    </div>
  </div>
</div>
