<div class="post-wrapper">
  <div class="post-leftbar">
    <div class="rank-wrapper">
      <div class="stars">
        <img src="assets/yellow-star.png" alt="" srcset="">
        <img src="assets/yellow-star.png" alt="" srcset="">
        <img src="assets/yellow-star.png" alt="" srcset="">
        <img src="assets/yellow-star.png" alt="" srcset="">
        <img src="assets/yellow-star.png" alt="" srcset="">
      </div>
      <div class="rank-info">
        Ocena {{post.rank}}
      </div>
    </div>
    <div class="answers-views-wrapper">
      <div class="views">
        <div class="av-number">{{post.visits}}</div>
        <div class="av-info">wizyty</div>
      </div>
      <div class="answers">
        <div class="av-number">{{post.number_of_answers}}</div>
        <div class="av-info">odpowiedzi</div>
      </div>
    </div>
  </div>
  <div class="post-details">
    <div class="post-title"><a [routerLink]="['/post/', post.id]">{{post.title}}</a></div>
    <div class="project-links-wrapper">
      <div class="page-link">Link do strony: <a class="project-link" href="#">{{post.page_link}}</a></div>
      <div class="repo-link">Link do repozytorium: <a class="project-link" href="#">{{post.repo_link}}</a></div>
    </div>
    <div class="post-last-activity">
      <span class="activity-type">Odpowiedź </span>udzielona
      <span class="activity-time">10 minut </span>temu przez
      <span class="activity-user">{{post.last_activity.username}}</span>
    </div>
    <div class="post-tags">
      <div *ngFor="let category of post.categories" class="post-tag">{{category.name}}</div>
    </div>
  </div>
</div>
