:host {
  width: 100%;
}
.post-wrapper {
  min-height: 6em;
  display: flex;
  margin-bottom: 4px;
  background: rgba(42, 157, 143, 0.05);
}
.post-leftbar {
  width: 130px;
  background: rgba(42, 157, 143, 0.2);
}
.rank-wrapper {
  height: 50%;
}
.answers-views-wrapper {
  display: flex;
  justify-content: space-between;
}
.views,
.answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
  padding: 3px 0;
}
.answers {
  border-radius: 5px;
  margin: 0 4px;
}
.answers.top {
  border: 2px solid #2a9d8f;
}
.av-number {
  font-size: 14px;
  margin-bottom: 4px;
}
.av-info {
  font-size: 9px;
}
.stars {
  display: flex;
  justify-content: center;
  padding: 3px 0;
}
.stars img {
  width: 25px;
  height: 25px;
}
.rank-info {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
}
.post-details {
  width: 100%;
  padding: 3px 5px;
}
.post-tags {
  display: flex;
}
.post-tag {
  font-size: 12px;
  border-radius: 4px;
  padding: 2px 5px;
  background-color: #e76f51;
  display: flex;
  align-items: center;

  color: white;
  margin-right: 10px;
}
.post-title {
  font-size: 18px;
  color: #2a9d8f;
  padding-bottom: 2px;
  font-weight: 700;
}
.post-title a {
  color: #2a9d8f;
  text-decoration: none;
}
.post-title a:hover {
  color: #38c0b0;
  text-decoration: none;
}
.page-link,
.repo-link {
  font-size: 12px;
  color: black;
  padding: 0 5px;
}
.project-link {
  text-decoration: none;
  color: #264653;
  font-weight: 500;
}
.project-link:hover {
  text-decoration: underline;
  color: #264653e7;
}
.post-last-activity {
  width: 100%;
  font-size: 11px;
  display: flex;
  justify-content: flex-end;
}
.activity-type,
.activity-time,
.activity-user {
  color: #2a9d8f;
  margin: 0 3px;
}
