.user-wrapper {
  height: 100%;
}
.img-profile {
  height: 2.3rem;
  width: 2.3rem;
  position: relative;
  bottom: 2px;
}
.username {
  font-weight: 300;
  color: rgb(236, 236, 236);
  margin-left: 10px;
  display: none;
}



@media screen and (min-width: 400px) {
  .username {
    display: inline-block;
  }
}
