.search-wrapper {
  display: flex;
  padding: 10px;
  background-color: #264653;
  margin-bottom: 15px;
  justify-content: center;
  height: 4em;
}
input {
  align-self: center;
  height: 2.2em;
  padding: 2px;
  margin: 0;
  font-size: 1em;
  border: #e2e2e2;
}
.search-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: 12px;
  cursor: pointer;
  font-size: 28px;
}
