.new-post-form-wrapper {
  width: 100%;
  padding: 0 20px;
}
.category-option-node {
  display: flex;
  justify-content: space-between;
}
.option-icon {
  position: relative;
  top: 5px;
  color: #264653;
}
.option-icon {
  position: relative;
  top: 5px;
  color: #264653;
}
.submit {
  margin-top: 10px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.return-wrapper {
  padding: 5px 0;
}
.new-post-label {
  padding: 0 20px;
  margin-top: 10px;
  color: #2a9d8f;
  font-weight: 500;
  font-size: 18px;
}
