
<div class="post-header">
  <div class="title-wrapper">
    <div class="post-title">Przykładowy tytuł</div>
    <div class="author-activity-details">Pytanie zadane <span class="activity-time">10 min</span>  temu</div>
  </div>
  <div class="project-rank-wrapper">
    <div class="rank-stars">
      <img src="assets/yellow-star.png" alt="" srcset="">
      <img src="assets/yellow-star.png" alt="" srcset="">
      <img src="assets/yellow-star.png" alt="" srcset="">
      <img src="assets/yellow-star.png" alt="" srcset="">
      <img src="assets/yellow-star.png" alt="" srcset="">
    </div>
    <div class="rank">Ocena: 4.2</div>
  </div>
</div>
<div class="post-wrapper">
  <div class="author-info">
    <app-post-user></app-post-user>
  </div>
  <div class="post-details">
    <div class="project-links-wrapper">
      <div class="page-link">Link do strony: <a class="project-link" href="#">www.example-project.pl</a></div>
      <div class="repo-link">Link do repozytorium: <a class="project-link" href="#">www.gihub.com/user/exampleProject</a></div>
    </div>
    <div class="post-description">
      Opis projektu. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
    </div>
    <div class="post-tags">
      <div class="post-tag">SEO</div>
      <div class="post-tag">RWD</div>
      <div class="post-tag">JAKOŚĆ KODU</div>
      <div class="post-tag">DESIGN</div>
    </div>
  </div>
</div>
<app-answer-list></app-answer-list>
