<div *ngIf="post != null">
  <div class="post-header">
    <div class="title-wrapper">
      <div class="post-title">
        <h2>{{ post.title }}</h2>
      </div>
      <div class="author-activity-details">
        Pytanie zadane
        <span class="activity-time">{{ post.created | timeAgo }}</span>
        temu
      </div>
    </div>
    <div class="project-rank-wrapper">
      <app-star-rating
        [rank]="post.rank"
      ></app-star-rating>
      <div *ngIf="post.rank" class="rank">Ocena ogólna: {{ post.rank | number: "1.0-2" }}</div>
      <div *ngIf="!post.rank" class="rank">Brak ocen</div>
    </div>
  </div>
  <div class="post-wrapper">
    <div class="author-info">
      <app-post-user [user]="post.author"></app-post-user>
    </div>
    <div class="post-details">
      <div class="project-links-wrapper">
        <div class="page-link">
          Link do strony:
          <a class="project-link" href="#">{{ post.page_link }}</a>
        </div>
        <div class="repo-link">
          Link do repozytorium:
          <a class="project-link" href="#">{{ post.repo_link }}</a>
        </div>
      </div>
      <div class="post-description">
        {{ post.description }}
      </div>
      <div class="post-tags">
        <div *ngFor="let category of post.categories" class="post-tag">
          {{ category.name }}
        </div>
      </div>
    </div>
  </div>
  <app-answer-list [post]="post"></app-answer-list>
  <div *ngIf="!isAuthenticated">
    <div class="log-in-wrapper">
      <span
        ><a [routerLink]="['/auth/login']">
          <button mat-raised-button color="warn">
            Zaloguj się aby dodać recenzję<span
              class="material-icons log-in-icon"
            >
              login
            </span>
          </button></a
        ></span
      >
    </div>
  </div>
  <div *ngIf="isAuthenticated">
    <app-new-answer
      *ngIf="!isAnswerProvided && !isOwnPost"
      [post]="post.id"
      [categories]="post.categories"
      (created)="newAnswerCreated()"
    ></app-new-answer>
    <div *ngIf="isAnswerProvided" class="answer-provided-wrapper">
      Dodałeś już swoją recenzję
    </div>
    <div *ngIf="isOwnPost" class="answer-provided-wrapper">
      Nie możesz ocenić swojego projektu
    </div>
  </div>
</div>
<div>
  <!-- //TODO loading -->
</div>
