.post-header {
  display: flex;
  justify-content: space-between;
  height: 4em;
  padding: 0 20px;
  background-color: #2a9d8f;
  align-items: center;
}
.post-title {
  color: white;
  font-size: 25px;
  font-weight: 700;
}
.rank-stars img {
  width: 25px;
  height: 25px;
}
.rank {
  display: flex;
  justify-content: center;
  font-size: 14px;
  font-weight: 300;
}

.author-activity-details {
  font-size: 11px;
  margin: 0 15px;
}
.activity-time {
  font-weight: 700;
}

.post-wrapper {
  display: flex;
}
.author-info {
  width: 130px;
  background: rgba(42, 157, 143, 0.1);
}
.project-links-wrapper {
  margin: 10px 0;
}
.page-link,
.repo-link {
  font-size: 12px;
  color: black;
  padding: 0 5px;
}
.project-link {
  text-decoration: none;
  color: #264653;
  font-weight: 500;
}
.project-link:hover {
  text-decoration: underline;
  color: #264653e7;
}
.post-details {
  width: calc(100% - 130px);
  padding: 3px 5px;
}
.post-description {
  margin: 15px 5px;
}
.post-tags {
  margin: 15px 5px;
  display: flex;
}
.post-tag {
  font-size: 12px;
  border-radius: 4px;
  padding: 2px 5px;
  background-color: #e76f51;
  display: flex;
  align-items: center;
  color: white;
  margin-right: 10px;
}
.log-in-wrapper {
  display: flex;
  justify-content: flex-end;
  border-top: 10px #264653 solid;
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  padding: 10px;
  cursor: pointer;
}
.log-in-icon {
  padding-left: 5px;
}
.answer-provided-wrapper {
  font-size: 16px;
  margin-top: 2px;
  background: #2a9d8f;
  padding: 15px;
  color: white;
}
