header {
  height: 4.25em;
  background-color: #264653;
  width: 100%;
}
nav {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  padding-top: 5px;
  align-items: baseline;
}

.logo {
  margin-left: 3px;
  padding: 0 2px;
  flex-grow: 1;
}
.logo a {
  text-decoration: none;
}
.logo h1 {
  margin: 0;
  padding: 0;
  color: white;
  font-size: 21px;
  font-weight: 300;
}
.logo-bold {
  font-weight: 500;
}
.menu {
  display: none;
  flex-grow: 1;
  margin-left: 80px;
}
.menu-entry a {
  margin-right: 50px;
  text-decoration: none;
  color: white;
  font-weight: 300;
}
.user-info {
  width: 58px;
  height: 58px;
  background-color: #e9c46a;
  border-radius: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new-question-wrapper,
.log-in-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: baseline;
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.ask-question,
.log-in {
  display: none;
  margin-left: 10px;
  vertical-align: 1px;
}
.ask-question > span > a {
  text-decoration: none;
  color: #f4a261;
}
.log-in > span > a {
  text-decoration: none;
  color: #2a9d8f;
}
.question-icon {
  position: relative;
  top: 4px;
  color: #f4a261;
}
.log-in-icon {
  padding-left: 5px;
}
.logo-img {
  width: 10rem;
}
.logged-user-info {
  display: flex;
  align-items: center;
  justify-content: center;
}
.ask-question {
  display: none;
}


@media screen and (min-width: 800px) {
  .menu {
    display: flex;
  }
  .ask-question,
  .log-in {
    display: flex;
  }
  .new-question-wrapper,
  .log-in-wrapper {
    margin-right: 20px;
    padding: 10px;
  }
  .logo {
    flex-grow: 0;
  }
}
