<header>
  <nav>
    <div class="logo">
      <a [routerLink]="['/list']">
        <img
          class="logo-img"
          src="../../../../assets/logo-small.png"
          alt=""
          srcset=""
        />
      </a>
    </div>
    <ul class="menu">
      <li class="menu-entry"><a href="#">O serwisie</a></li>
      <li class="menu-entry"><a href="#">Regulamin</a></li>
      <li class="menu-entry"><a href="#">Pomoc</a></li>
    </ul>
    <div class="new-question-wrapper">
      <span class="material-icons question-icon"> post_add </span>
      <div class="ask-question">
        <span><a [routerLink]="['/new-post']">Poproś o recenzję</a></span>
      </div>
    </div>

    <app-header-container></app-header-container>
  </nav>
</header>
