<header>
  <nav>
    <button
      class="menu-button"
      mat-button
      (click)="sidenav.toggle()"
      color="accent"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <div class="logo">
      <a [routerLink]="['/list']">
        <img
          class="logo-img"
          src="../../../../assets/logo-small.png"
          alt=""
          srcset=""
        />
      </a>
    </div>
    <ul class="menu">
      <li class="menu-entry"><a href="#">O serwisie</a></li>
      <li class="menu-entry"><a href="#">Regulamin</a></li>
    </ul>
    <div
      [routerLink]="['/new-post']"
      *ngIf="isAuthenticated"
      class="new-question-wrapper"
    >
      <span class="material-icons question-icon"> post_add </span>
      <div class="ask-question">
        <span>Poproś o recenzję</span>
      </div>
    </div>
    <div *ngIf="!isAuthenticated" class="log-in-wrapper">
      <a [routerLink]="['/auth/login']">
        <button mat-raised-button color="accent">
          <span class="login-info">
            Zaloguj się
            <span class="login-additional-info"> aby dodać post</span>
          </span>
          <span class="material-icons log-in-icon"> login </span>
        </button></a
      >
    </div>

    <app-header-container *ngIf="isAuthenticated"></app-header-container>
  </nav>
</header>
